.dressed-octopus {
	position: relative;
	top:20%;
	right:10%;
}

#octopus {
	position: relative;
  	top: 20%;
  	left: 50%;
}

#hat {
	position: relative;
	top: -340px;
	left: -23px;
}


#glasses {
	position: relative;
	top: -15px;
	left: 65px;
}
